html,body{
    height: 100%;
    margin: 0px;
    overflow: hidden;
    font-family: 'proxima-nova', Helvetica;
    color:white;
    //background: radial-gradient(#0e284d 0%, #1f2630 70%);
    //box-shadow: #000000 0px 0px 100px 10px inset;
}